<%= form_for(@listing_attachment) do |f| %>
  <% if @listing_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing_attachment.errors.count, "error") %> prohibited this listing_attachment from being saved:</h2>

      <ul>
      <% @listing_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :listing_id %><br>
    <%= f.number_field :listing_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
